@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


* {
  font-family: "Playfair Display", serif;
  /* background-color: #F9F5F3 */
}
